<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blue-Book</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <div class="brand">Blue-Book</div>

      <div class="nav-links">
        <ul>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">About</a>
          </li>
          <li>
            <a href="">Reserve</a>
          </li>
          <li>
            <a href="">Contact</a>
          </li>
        </ul>
      </div>
      <a id="burger">
        <div class="slice"></div>
        <div class="slice"></div>
        <div class="slice"></div>
      </a>
    </nav>

    <div class="container">
      <img src="/static/images/beachview3.jpg" alt="beach view" />
      <div class="main">
        <div id="planning">
          <p>Planning a vacation?</p>
        </div>
        <div id="desktop">
          <p>
            Maybe you just need a break and relax under the blue skies with some
            seaside breeze. We've got you covered.
          </p>
        </div>
        <button>Make Reservation</button>
      </div>
    </div>

    <script src="script.js" type="text/javascript"></script>
  </body>
</html>
